
a:focus {
    color: #fff;
}

.wrap {
    height: 100vh;
    padding-top: 90px;
    position: relative;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 999;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.09);
}

.header-full-menu {
    position: fixed;
    width: 100%;
    height: 320px;
    z-index: 1000;
    background: #fff;
    top: 0;
}

/*.header-boxmenu-master a:focus {*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*color: #23527c;*/
/*}*/

.wrap-master {
    margin-top: 90px;
}

.modal {
    z-index: 100050;
}

.optDesabled {
    display: none;
}

.dvizh-cart-show-options__circle {
    width: 48px;
    height: 48px;
    border-radius: 0.5em;
}

.dvizh-cart-show-options__img {
    width: 48px;
    height: 48px;
    border-radius: 0.5em;
}

.dvizh-cart-row__img {
    /*width: 185px;*/
    /*height: 185px;*/
}

.dvizh-cart-row {
    border-bottom: none;
}

input[disabled] {
    background: transparent !important;
}

.category-cake-box {
    transition: all .3s ease-in-out;
}

.category-cake-box:hover {
    cursor: inherit;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.CartInformerBox {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #8f5541;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    font-size: 10px;
    transition: all .3s ease-in-out;
    position: absolute;
    top: -10px;
    left: 15px;
}

.additional-modules__cart a {
    text-decoration: none;
}

.dvizh-cart-row {
    /*background: #f1f0f0;*/
}

.dvizh-cart-row .mt-15 {
    background: transparent;
}

.additional-modules__cart:hover .CartInformerBox {
    color: #8f5541;
    background: #fff;
    border: 1px solid #8f5541;
}

.cart-goods__total .title__h1 {
    font-size: 40px;
}

.global-form__select::before {
    top: 48px;
}

.optGuests__input {
    width: 90px !important;
}

.wrap-master {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.log-out-link a {
    display: flex;
    align-items: center;
}

.table-responsive a {
    align-items: center;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #8f5541;
    border: 0;
    border-radius: 4px;
}

.datepicker table tr td.active:active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active {
    color: #fff;
    background-color: #8f5541;
    border-color: #8f5541;
}

.datepicker table tr td.active:active:hover, .datepicker table tr td.active.highlighted:active:hover, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.highlighted.active:hover, .datepicker table tr td.active:active:focus, .datepicker table tr td.active.highlighted:active:focus, .datepicker table tr td.active.active:focus, .datepicker table tr td.active.highlighted.active:focus, .datepicker table tr td.active:active.focus, .datepicker table tr td.active.highlighted:active.focus, .datepicker table tr td.active.active.focus, .datepicker table tr td.active.highlighted.active.focus {
    color: #fff;
    background-color: rgba(143, 85, 65, 0.7);
    border-color: rgba(143, 85, 65, 0.7);
}

.master-class-form {
    width: 100%;
}

.modal-body img {
    max-width: 100%;
    height: auto;
}

.modal-body {
    padding: 0;
}

.additional-modules__search {
    margin: 0;
    text-align: center;
}

.section-logo {
    display: flex;
    justify-content: center;
}

.flex-aling-center {
    display: flex;
    align-items: center;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.flex-justify-between {
    display: flex;
    justify-content: space-between;
}

.news-box__img {
    cursor: pointer;
}

.category-cake-box {
    padding: 30px 0;
}

/*.active-link-a {*/
/*position: relative;*/
/*}*/

.active-link-a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #1B86D5;
    transition: all .3s ease-in-out;
}

.active-link-a_w::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transition: all .3s ease-in-out;
}

.contact-italic {
    font-style: italic;
    font-weight: 700;
    font-size: 12px;
}

.contact-italic-r {
    text-align: right;
}

.contact-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    color: #000000;
}

.contact .font-family {
    font-family: "Open Sans", sans-serif;
}

.flter-min-max {
    display: flex;
    justify-content: space-between;
}

.field-filtercake-price_for_kg_min, .field-filtercake-price_for_kg_max {
    width: 45%;
}

.optGlaze__circle_true {
    border-radius: 0.25em;
    position: relative;
}

.optGlaze__circle_true::before {
    content: '';
    position: absolute;
    top: -7px;
    left: -7px;
    width: 43px;
    height: 43px;
    border: 1px solid #F6D8CB;
    border-radius: 0.25em;
}

.optGlaze__circle {
    transition: all .3s;
}

.link__a {
    font-family: "Open Sans", sans-serif;
}

.black-menu-link__a {
    display: inline-flex;
    font-family: "Lora", serif;
    color: #000;
    position: relative;
    transition: all .3s ease-in-out;
}

.black-menu-link__a:hover {
    color: #000;
    text-decoration: none;
    transform: translateX(10px);
}

.black-menu-link__a:hover::before {
    content: '';
    top: 10px;
    left: -25px;
    width: 20px;
    height: 1px;
    background: #8F5541;
    opacity: 0.7;
    position: absolute;
}

.black-menu-link__a::before {
    content: '';
    top: 10px;
    left: -25px;
    width: 0;
    height: 1px;
    background: #8F5541;
    opacity: 0.7;
    position: absolute;
    transition: all .3s ease-in-out;
}

.active-black-menu-link__a {
    transform: translateX(10px);
}

.active-black-menu-link__a::before {
    content: '';
    top: 10px;
    left: -25px;
    width: 20px;
    height: 1px;
    background: #8F5541;
    opacity: 0.7;
    position: absolute;
}








.black-link__a {
    display: inline-flex;
    font-family: "Lora", serif;
    color: #000;
    position: relative;
    transition: all .3s ease-in-out;
}

.black-link__a:hover {
    color: #000;
    text-decoration: none;
    /*transform: translateX(10px);*/
}

.black-link__a:hover::before {
    content: '';
    top: 100%;
    left: 0;
    width: 70%;
    height: 1px;
    background: #8F5541;
    opacity: 0.7;
    position: absolute;
}

.black-link__a::before {
    content: '';
    top: 100%;
    left: 0;
    width: 0;
    height: 1px;
    background: #8F5541;
    opacity: 0.7;
    position: absolute;
    transition: all .3s ease-in-out;
}

.category-cake-box__img_1, .category-cake-box__img_2, .category-cake-box__img_3, .category-cake-box__img_4 {
    transition: .3s;
}

.shadow-card {
    transition: all .3s ease-in-out;
}

.shadow-card:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.modal-body h2 {
    text-align: center;
}

.modal-body .flex-justify-center {
    text-align: center;
}

.global-form__select::before {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.total-delivery__box .global-form__select::before {
    top: 12px;
}

.total-delivery__box .global-form__select select {
    color: #8f5541;
}

.button__rectangle:hover {
    color: #8f5541;
    text-decoration: none;
    background: #FDEFE4;
}

.button__rectangle {
    transition: all .3s;
}

.additional-modules {
    display: flex;
    justify-content: space-between;
}

.additional-modules__cart {
    position: relative;
}

.dvizh-cart-delete-button {
    color: #ff0017;
}

.dvizh-cart-delete-button:hover {
    color: #ff0017;
}

.dvizh-change-count {
    /*width: 100%;*/
    /*justify-content: center;*/
}


.dvizh-cart-row .row {
    display: block;
}

.cart-goods__total .title__h1 {
    font-size: 36px;
}

.file-opacity {
    display: block;
    width: 120px;
    margin: auto;
    opacity: 0;
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    z-index: 99999;
    cursor: pointer;
}

.field-reviewform-file .help-block {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}


.revievs__wrapp-btn input[disabled] {
    background: #8f5541 !important;
    opacity: 0.3 !important;
}

.revievs__wrapp-btn input[disabled]:hover {
    color: #fff !important;
}

input:focus {
    box-shadow: 1px 3px 7px 0 #F6D8CB;
}

.has-error .help-block {
    color: #a94442;
    font-size: 11px;
    text-transform: uppercase;

}

.popular-cake .card-img__img {
    height: 200px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 5px 5px 0 0;
}

.popular-cake .card-img {
    align-items: inherit;
}

.button__rectangle {
     transition: all .3s;
}

.button__rectangle:hover {
    opacity: 1;
}

.admin-rev-img {
    width: 100%;
    height: 150px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.news-box__content_link {
    cursor: pointer;
    display: inline-flex;
}


/* Owl card*/
.owl-theme .owl-dots .owl-dot.active span {
    background: #8f5541 !important;
}

.owl-theme .owl-dots .owl-dot span:hover {
    background: #FDEFE4 !important;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: #8f5541 !important;
}

.owl-dots button {
    outline: none;
}

.create-company {
    transition: all .3s ease-in-out;
}

.create-company:hover {
    background: #85b1a4bd;
}


.create-company__media {
    text-align: right;
}

.create-company__media img {
    width: 100px;
}

.create-company__media a {
    align-items: center;
}

.create-company__media p {
    font-size: 11px;
    margin-bottom: 0;
}

.create-company__project {
    color: #fff;
    font-size: 12px;
}

.footer {
    padding: 80px 0 0 0;
}

.create-company {
    background: #85b1a4;
    padding: 10px;
    margin-top: 30px;
}

.card-img__bg {
    background-position: center !important;
    background-size: 100% !important;
    transition: all .3s ease-in-out;
}

.card-img__bg:hover {
    background-size: 115% !important;
}

.desc__sm {
    font-size: 14px;
    line-height: inherit;
}

.news-box__wrapp li:nth-child(1) .news-box__img {
    background-position: center !important;
    background-size: cover !important;
}

.news-box__wrapp li .news-box__img {
    background-position: center !important;
    background-size: cover !important;
}

.news-box__wrapp {
    justify-content: flex-start;
}

.news-box__wrapp li {
    list-style: none;
    width: 29.3%;
    margin-right: 29px;
}

.news-box__wrapp li:nth-child(1) .news-box__content {
    margin-bottom: 30px;
    width: 45%;
    float: left;
}

.category-cake-box__img_1, .category-cake-box__img_2, .category-cake-box__img_3, .category-cake-box__img_4 {
    display: flex;
}

.add-item-wrapper {
    position: absolute;
    padding: 15px 0 0 15px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: .25em;
    left: -147px;
    bottom: -115px;
    width: 200px;
    height: 80px;
    transition: all .3s ease-in-out;
}



/* animation add item cart */
.add-item-visible {
    opacity: 1;
}

.add-item-block {
    display: block;
}

.add-item-hidden {
    opacity: 0;
}

.add-item-none {
    display: none;
}

/* animation add item cart end*/


.add-item-wrapper h5, .add-item-wrapper p {
    color: #fff;
}


.dropdown-menu {
    border: 1px solid rgb(255, 255, 255);
}


.td-prev {
    width: 100px;
    height: 100px;
    background-position: center !important;
    background-size: cover !important;
    margin: 0 auto;
}

.dsp-none {
    display: none !important;
}

.scroll-to-top__wrapp {
    position: fixed;
    cursor: pointer;
    right: 60px;
    bottom: 60px;
    background: #8f5541;
    width: 45px;
    height: 45px;
    border-radius: 5em;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}

.scroll-to-top__wrapp_arrow {
    width: 12px;
    height: 12px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    display: block;
    transform: rotate(-45deg);
    margin-top: 5px;
}

.set-bottom {
    transform: translateY(999px);
}






































































































































































@media (min-width: 992px) and (max-width: 1200px) {

    .category-cake-box {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .candy-bar .glob-module-card {
        margin-top: 35px;
    }

    .filter-sidebar-catalog {
        margin-top: 0;
    }

    #sidebar-filter {
        margin-bottom: 60px;
    }

    #sidebar-filter .filter-sidebar-catalog__box_ul span {
        display: inline-flex;
        padding-right: 20px;
    }

    .filter-sidebar-catalog__box-compilation_ul {
        margin-top: 30px;
    }

    .footer__ul li {
        padding: 0;
        text-align: left;
    }

    .filter-sidebar-catalog {
        margin-top: 60px;
    }

    .flex-reverse {
        display: flex;
        flex-direction: column-reverse
    }

    .total-delivery__box {
        margin-top: 30px;
    }

    #delivery-form .title__h4 {
        margin-bottom: 30px;
    }

    .revievs__textarea::before {
        display: none;
    }
}





















@media (min-width: 300px) and (max-width: 991px) {

    .news-box__wrapp li:nth-child(1) .news-box__content {
        width: 100%;
    }


    #delivery-form .title__h4 {
        margin-bottom: 30px;
    }

    .section-cake {
        padding: 30px 0 3px 0;
    }

    .section-cake-left, .section-cake-right {
        background: none;
    }

    .section-cake-left__img {
        margin-bottom: 60px;
    }

    .section-cake-right__img {
        margin-top: 60px;
    }

    .section-cake-left {
        margin: 0;
    }

    .candy-bar .glob-module-card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
    }

    .popular-cake {
        margin: 30px 0;
    }

    .title__line_l-53::before {
        display: none;
    }

    .title__line_r-67::before {
        display: none;
    }

    .insta-bg {
        margin-top: 30px !important;
    }

    .section-logo {
        margin-bottom: 30px;
    }

    .footer__ul {
        padding: 0;
        text-align: center;
    }

    .header .section-logo {
        margin: 0;
    }

    .filter-sidebar-catalog {
        margin-top: 30px;
    }

    .footer__ul li {
        text-align: left;
    }

    .flex-reverse {
        display: flex;
        flex-direction: column-reverse
    }

    .global-form__select::before {
        top: 37px;
    }

    .filter-sidebar-catalog__box-compilation_ul {
        margin-top: 30px;
    }

    #sidebar-filter .filter-sidebar-catalog__box_ul span {
        display: inline-flex;
        padding-right: 20px;
    }

    .additional-modules__search {
        display: none;
    }

    .additional-modules__phone {
        margin-right: 60px;
    }

    .footer {
        position: inherit;
    }

    .header-full-menu {
        height: 100vh;
    }

    .footer .section-logo {
        margin-bottom: 60px;
    }

    .footer {
        padding: 30px 0 0 0;
    }

    .modal-body-wrapp {
        padding: 0;
    }

    .modal-body-wrapp .master-class-form {
        padding: 15px;
    }

    .category-cake-box {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .title__h1 {
        font-size: 30px;
    }

    .section-cake-right {
        margin: 0;
    }

    .popular-cake .card-img {
        margin-bottom: 30px;
    }

   .popular-cake .glob-module-card .button__circle {
        display: none;
    }

    .section-cake-left {
        padding: 0;
    }

    .contact {
        margin-top: 0 !important;
    }

    .total-delivery__box {
        margin-top: 30px;
    }

    .revievs__textarea::before {
        display: none;
    }

}























@media (min-width: 300px) and (max-width: 768px) {

    .dvizh-cart-row__img {
        margin-bottom: 30px;
    }

    .dvizh-cart-price {
        display: inline-block;
        margin-bottom: 30px;
    }

    .dvizh-cart-row__wrapp-price {
        margin-bottom: 30px;
    }

    .shop-cart-delete {
        margin-bottom: 30px;
    }

    .dvizh-cart-row .row {
        display: block;
    }

    .hidden-xs {
        display: none;
    }

    .xs-mb-30 {
        margin-bottom: 30px;
    }

    .additional-modules__phone {
        display: none;
    }

    .header-full-menu .mb-60 {
        margin-bottom: 30px;
    }

    .additional-modules {
        display: flex;
        justify-content: center;
    }

    .header-full-menu .additional-modules__cart {
        margin-top: -18px;
        margin-right: 27px;
    }

    .header-full-menu .additional-modules {
        justify-content: flex-end;
    }

    .section-cake-left__img {
        justify-content: flex-start;
    }

    .footer__ul li {
        text-align: center;
    }

    .filter-sidebar-catalog__box-compilation_ul {
        margin-top: 30px;
    }

    .footer {
        padding: 30px 0 0 0;
    }

    .header-full-menu {
        padding-top: 30px !important;
    }

    .news-sidebar li {
        margin-bottom: 15px;
    }

    .news-sidebar {
        margin-bottom: 30px;
    }

    .news-box__wrapp li:nth-child(1) .news-box__img {
        width: 100%;
        margin-right: 0;
    }

    .news-box__wrapp li {
        width: 100%;
        margin-right: 0;
    }

    .modal-content {
        padding: 0 15px 15px 15px;
    }

    .modal-header {
        display: flex;
        justify-content: center;
    }

    .delivery-box {
        padding: 15px;
    }

    .revievs .shadow-checkbox {
        width: 40px !important;
    }

    .revievs .filter-sidebar-catalog__box_ul span {
        margin-bottom: 15px;
    }

    .revievs__textarea::before {
        display: none;
    }

    .delivery-box .button__rectangle {
        margin-top: 30px;
    }

    .optString__input {
        width: 100% !important;
    }

    .card-goods .button__rectangle {
        margin-bottom: 30px;
    }

    .optGuests .wrapper-options {
        display: flex;
        justify-content: space-between;
    }

    .optGuests .wrapper-options label input {
        margin: 0;
    }

    .cart-goods__total .title__h1 {
        font-size: 26px;
    }

    .total-delivery__box {
        margin-top: 30px;
    }

    .dvizh-cart-delete-button {
        position: absolute;
        top: 4px;
        right: 0;
    }

    .footer .flex-aling-center {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .create-company__media {
        text-align: center;
        margin-top: 15px;
    }

    .create-company__project {
        margin-top: 15px;
    }

    .header {
        padding: 10px 0;
    }

    .wrap {
        padding-top: 60px;
    }

    .scroll-to-top__wrapp {
        right: 15px;
        bottom: 15px;
        width: 35px;
        height: 35px;
    }

    .scroll-to-top__wrapp_arrow {
        width: 9px;
        height: 9px;
        margin-top: 3px;
    }
}


































/* grid media */

@media (min-width: 300px) and (max-width: 991px) {

    .mb-15 {
        margin-bottom: 5px;
    }

    .mb-25 {
        margin-bottom: 10px;
    }

    .mb-35 {
        margin-bottom: 15px;
    }

    .mb-45 {
        margin-bottom: 20px;
    }

    .mb-50 {
        margin-bottom: 25px;
    }

    .mb-60 {
        margin-bottom: 30px;
    }

    .mb-90 {
        margin-bottom: 40px;
    }

    .mt-15 {
        margin-top: 5px;
    }

    .mt-25 {
        margin-top: 10px;
    }

    .mt-35 {
        margin-top: 15px;
    }

    .mt-45 {
        margin-top: 20px;
    }

    .mt-50 {
        margin-top: 25px;
    }

    .mt-60 {
        margin-top: 30px;
    }

    .mt-90 {
        margin-top: 30px;
    }

    .pb-15 {
        padding-bottom: 5px;
    }

    .pb-25 {
        padding-bottom: 10px;
    }

    .pb-35 {
        padding-bottom: 15px;
    }

    .pb-45 {
        padding-bottom: 20px;
    }

    .pb-50 {
        padding-bottom: 25px;
    }

    .pb-60 {
        padding-bottom: 30px;
    }

    .pb-90 {
        padding-bottom: 40px;
    }

    .pt-15 {
        padding-bottom: 5px;
    }

    .pt-25 {
        padding-bottom: 10px;
    }

    .pt-35 {
        padding-bottom: 15px;
    }

    .pt-45 {
        padding-bottom: 20px;
    }

    .pt-50 {
        padding-bottom: 25px;
    }

    .pt-60 {
        padding-bottom: 30px;
    }

    .pt-90 {
        padding-bottom: 40px;
    }

    .pl-5 {
        padding-left: 5px;
    }

    .pl-15 {
        padding-left: 15px;
    }

    .pl-30 {
        padding-left: 30px;
    }

    .pr-5 {
        padding-right: 5px;
    }

    .pr-15 {
        padding-right: 15px;
    }

    .pr-30 {
        padding-right: 30px;
    }

    .ml-5 {
        margin-left: 5px;
    }

    .ml-15 {
        margin-left: 15px;
    }

    .ml-30 {
        margin-left: 30px;
    }

    .mr-5 {
        margin-right: 5px;
    }

    .mr-15 {
        margin-right: 15px;
    }

    .mr-30 {
        margin-right: 30px;
    }

}


.wrapp-full-description .link__item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 80%;
}

.wrapp-full-description {
    position: relative;
}

.link-full-description {
    display: block;
    position: absolute;
    opacity: 0;
    width: 100%;
    background: #fff;
    padding: 15px 0 15px 0;
    z-index: 1;
    top: -15px;
    left: 0;
    transition: opacity .3s ease-in-out;
}

.wrapp-full-description:hover .link-full-description {
    opacity: 1;
}








/* Preloader goods*/

.wrapper {
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
    display: flex;
    height: auto;
    width: 100%;
    background: #fff;
    justify-content: center;
}

.cssload-loader {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin: 3em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    background:rgb(204,106,20);
}
.cssload-loader,
.cssload-loader:before,
.cssload-loader:after {
    animation: 1.15s infinite ease-in-out;
    -o-animation: 1.15s infinite ease-in-out;
    -ms-animation: 1.15s infinite ease-in-out;
    -webkit-animation: 1.15s infinite ease-in-out;
    -moz-animation: 1.15s infinite ease-in-out;
}
.cssload-loader:before,
.cssload-loader:after {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.cssload-loader { animation-name: cssload-loader;
    -o-animation-name: cssload-loader;
    -ms-animation-name: cssload-loader;
    -webkit-animation-name: cssload-loader;
    -moz-animation-name: cssload-loader; }


@keyframes cssload-loader {
    from { transform: scale(0); opacity: 1; }
    to	 { transform: scale(1); opacity: 0; }
}

@-o-keyframes cssload-loader {
    from { -o-transform: scale(0); opacity: 1; }
    to	 { -o-transform: scale(1); opacity: 0; }
}

@-ms-keyframes cssload-loader {
    from { -ms-transform: scale(0); opacity: 1; }
    to	 { -ms-transform: scale(1); opacity: 0; }
}

@-webkit-keyframes cssload-loader {
    from { -webkit-transform: scale(0); opacity: 1; }
    to	 { -webkit-transform: scale(1); opacity: 0; }
}

@-moz-keyframes cssload-loader {
    from { -moz-transform: scale(0); opacity: 1; }
    to	 { -moz-transform: scale(1); opacity: 0; }
}









